:root {
    --blue: #2A324B;
    --purple: #58699D;
    --grey: #E1E5EE;
    --white: #fff;
}

body {
    margin-top:150px;
    margin-left:150px;
    margin-right:150px;
    background-color: var(--grey);
    font-family: "Montserrat", "serif";
}

ul {
    display:flex;
    padding: 0;
    margin:0;
}

h2 {
    color: var(--blue);
}

.navlist {
    padding: 20px 50px;
    color: var(--white);
    background-color: var(--blue);
    margin-right: 10px;
    font-weight:bold;
    font-size: 25px;
}

section {
    padding: 50px 50px 100px;
    background-color: var(--white);
}

:hover li {
    cursor: pointer;
}

#links {
    display:flex;
    flex-direction: column;
}

#categoryList {
    display:flex;
    justify-content: space-between;
    list-style-type:none;
}


.active {
    background-color: var(--white);
    color: var(--blue);
    font-weight:bold;
}

#links {
    margin-left:30px;
}



