:root {
    --blue: #2A324B;
    --purple: #58699D;
    --grey: #E1E5EE;
    --white: #fff;
}

body {
    align-items:center;
    background-color: var(--grey);
    font-family: "Montserrat", "serif";
}

ul {
    display:flex;
    padding: 0;
    margin:0;
}

h2 {
    color: var(--blue);
}

.navlist {
    padding: 15px 20px;
    color: var(--white);
    background-color: var(--blue);
    margin-right: 10px;
}

section {
    padding: 20px;
    background-color: var(--white);
}

:hover li {
    cursor: pointer;
}

#links {
    display:flex;
    flex-direction: column;
}

#categoryList {
    list-style-type:none;
}


